Repository codyslexia/nexa, changes with the owners that CODEOWNERS names for each.
All owners: @moatorres, @codyslexia/nexa-core-reviewers, @codyslexia/nexa-docs-reviewers, @codyslexia/nexa-iac-reviewers, @codyslexia/nexa-pipelines-reviewers

chore(repo): add contributing guide
  CONTRIBUTING.md
Owners: @moatorres

feat(core): add goapi example
  apps/goapi/README.md
  apps/goapi/main.go
  apps/goapi/project.json
  go.mod
  go.sum
Owners: @moatorres, @codyslexia/nexa-core-reviewers

feat(core): add rustapi example
  Cargo.lock
  apps/rustapi/Cargo.toml
  apps/rustapi/README.md
  apps/rustapi/project.json
  apps/rustapi/src/main.rs
Owners: @moatorres, @codyslexia/nexa-core-reviewers

feat(ui): add docs example
  docs/.eslintrc.json
  docs/app/global.css
  docs/app/layout.tsx
  docs/app/page.tsx
  docs/index.d.ts
  docs/jest.config.ts
  docs/next-env.d.ts
  docs/next.config.js
  docs/project.json
  docs/public/.gitkeep
  docs/public/favicon.ico
  docs/tsconfig.json
  docs/tsconfig.spec.json
Owners: @codyslexia/nexa-docs-reviewers, @moatorres

fix(ci): update nx.json to prepare for vercel deployment
  nx.json
Owners: @moatorres

docs(misc): add .vercelignore file
  .vercelignore
Owners: @moatorres

chore(repo): update ignore files
  .prettierignore
  .vercelignore
Owners: @moatorres

chore(repo): update pre-push scripts
  scripts/check-lock-files.js
  scripts/commit-lint.js
Owners: @codyslexia/nexa-pipelines-reviewers, @moatorres

feat(ci): enable distributed task execution
  .github/workflows/nx-cloud-ci.yml
Owners: @codyslexia/nexa-pipelines-reviewers

chore(ci): update .vercelignore file
  .vercelignore
Owners: @moatorres

chore(repo): update go.sum
  go.sum
Owners: @moatorres

fix(ci): update go version
  go.mod
  go.sum
Owners: @moatorres

chore(testing): add jest configuration
  jest.config.ts
  jest.preset.js
Owners: @moatorres

feat(repo): add stale bot
  .github/workflows/stale-bot.yaml
Owners: @codyslexia/nexa-pipelines-reviewers

chore(testing): add goapi tests
  apps/goapi/main.test.go
Owners: @moatorres, @codyslexia/nexa-core-reviewers

chore(repo): update dot ignore files
  .prettierignore
  .vercelignore
Owners: @moatorres

chore(repo): update go.mod and go.sum dependencies
  go.mod
  go.sum
Owners: @moatorres

chore(repo): remove issue label typo
  .github/workflows/stale-bot.yaml
Owners: @codyslexia/nexa-pipelines-reviewers

chore(repo): update tsconfig base paths
  tsconfig.base.json
Owners: @moatorres

chore(repo): update dot ignore files
  .vercelignore
Owners: @moatorres

chore(testing): add rustapi tests
  apps/rustapi/src/main.test.rs
Owners: @moatorres, @codyslexia/nexa-core-reviewers

chore(repo): update dot ignore files
  .vercelignore
Owners: @moatorres

chore(repo): update dot ignore files
  .vercelignore
Owners: @moatorres

docs(ui): update docs website
  docs/app/global.css
  docs/app/page.tsx
  docs/next.config.js
Owners: @codyslexia/nexa-docs-reviewers

chore(repo): add vercel.json config
  docs/tsconfig.json
  docs/vercel.json
Owners: @codyslexia/nexa-docs-reviewers

chore(ci): update docs basePath
  docs/next.config.js
Owners: @codyslexia/nexa-docs-reviewers

docs(ui): update favicon image
  docs/public/favicon.ico
Owners: @codyslexia/nexa-docs-reviewers

fix(ci): cargo test flags
  .github/workflows/nx-cloud-ci.yml
Owners: @codyslexia/nexa-pipelines-reviewers

docs(ci): update eslint configuration
  docs/.eslintrc.json
Owners: @codyslexia/nexa-docs-reviewers

feat(ui): setup frontend directory
  apps/frontend/.eslintrc.json
  apps/frontend/index.d.ts
  apps/frontend/jest.config.ts
  apps/frontend/next-env.d.ts
  apps/frontend/next.config.js
  apps/frontend/project.json
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.spec.json
  apps/frontend/vercel.json
Owners: @moatorres, @codyslexia/nexa-core-reviewers

feat(ui): add base layout and styles
  apps/frontend/app/(home)/page.tsx
  apps/frontend/app/layout.tsx
  apps/frontend/app/providers.tsx
  apps/frontend/app/sitemap.ts
  apps/frontend/public/.gitkeep
  apps/frontend/public/favicon.ico
  apps/frontend/public/logo.png
  apps/frontend/public/thumbnail.png
  apps/frontend/styles/fonts.ts
  apps/frontend/styles/global.css
Owners: @moatorres, @codyslexia/nexa-core-reviewers

chore(ui): add dotenv file
  apps/frontend/.env.example
Owners: @moatorres, @codyslexia/nexa-core-reviewers

chore(repo): update package.json deps and scripts
  package.json
  pnpm-lock.yaml
Owners: @codyslexia/nexa-core-reviewers

chore(ci): add repo env variable
  .github/workflows/nx-cloud-ci.yml
Owners: @codyslexia/nexa-pipelines-reviewers

docs(ci): add basePath to next config
  docs/next.config.js
Owners: @codyslexia/nexa-docs-reviewers

fix(ui): update open graph image subdomain
  apps/frontend/app/layout.tsx
Owners: @moatorres, @codyslexia/nexa-core-reviewers

chore(ui): update home and add login page
  apps/frontend/app/(auth)/layout.module.scss
  apps/frontend/app/(auth)/layout.tsx
  apps/frontend/app/(auth)/login/button.tsx
  apps/frontend/app/(auth)/login/page.module.scss
  apps/frontend/app/(auth)/login/page.tsx
  apps/frontend/app/(home)/page.tsx
  apps/frontend/app/api/auth/[...nextauth]/route.ts
  apps/frontend/lib/auth.ts
  apps/frontend/styles/global.css
Owners: @moatorres, @codyslexia/nexa-core-reviewers

chore(ui): add dotenv example file
  apps/frontend/.env.example
Owners: @moatorres, @codyslexia/nexa-core-reviewers

chore(ui): add prisma client
  apps/frontend/lib/prisma.ts
Owners: @moatorres, @codyslexia/nexa-core-reviewers

feat(ui): add prisma schema
  libs/core/prisma/.eslintrc.json
  libs/core/prisma/prisma/schema.prisma
  libs/core/prisma/project.json
  libs/core/prisma/tsconfig.json
  libs/core/prisma/tsconfig.lib.json
  tsconfig.base.json
Owners: @moatorres, @codyslexia/nexa-core-reviewers

CODEOWNERS:

# if not covered below, default to @moatorres
* @moatorres
/e2e/**/* @moatorres
/plugins/**/* @moatorres
/scripts/**/* @moatorres
/tools/**/* @moatorres
/apps/**/* @moatorres @codyslexia/nexa-core-reviewers
/libs/**/* @moatorres @codyslexia/nexa-core-reviewers
package.json @codyslexia/nexa-core-reviewers
pnpm-lock.yaml @codyslexia/nexa-core-reviewers

# docs
/docs @codyslexia/nexa-docs-reviewers

## iac
/iac/* @codyslexia/nexa-iac-reviewers

# scripts
/scripts/* @codyslexia/nexa-pipelines-reviewers @moatorres

# ci
/.circleci/** @codyslexia/nexa-pipelines-reviewers
/.github/** @codyslexia/nexa-pipelines-reviewers
/.husky/** @codyslexia/nexa-pipelines-reviewers

# misc
/CONTRIBUTING.md @moatorres
/CODE_OF_CONDUCT.md @moatorres
/CODEOWNERS @moatorres

# global config files
project.json @moatorres
jest.config.ts @moatorres
jest.preset.js @moatorres
