Repository codyslexia/nexa, changes with the owners that CODEOWNERS names for each.
All owners: @moatorres, @codyslexia/nexa-core-reviewers, @codyslexia/nexa-docs-reviewers, @codyslexia/nexa-iac-reviewers, @codyslexia/nexa-pipelines-reviewers

chore(ui): minor adjustments
  apps/frontend/app/layout.tsx
  apps/frontend/lib/domains.ts
  apps/frontend/lib/types.ts
  docs/app/layout.tsx
Owners: @moatorres, @codyslexia/nexa-core-reviewers, @codyslexia/nexa-docs-reviewers

fix(ci): add prisma-generate build step
  .prettierignore
  apps/frontend/project.json
Owners: @moatorres

feat(core): add apollo install scripts
  scripts/install-apollo-router.js
  scripts/install-apollo-rover.js
Owners: @codyslexia/nexa-pipelines-reviewers, @moatorres

feat(core): create users subgraph
  apps/graphql/users/.env.example
  apps/graphql/users/.eslintrc.json
  apps/graphql/users/Dockerfile
  apps/graphql/users/jest.config.ts
  apps/graphql/users/project.json
  apps/graphql/users/src/main.ts
  apps/graphql/users/src/resolvers/index.ts
  apps/graphql/users/src/schema.graphql
  apps/graphql/users/tsconfig.app.json
  apps/graphql/users/tsconfig.json
  apps/graphql/users/tsconfig.spec.json
Owners: @moatorres, @codyslexia/nexa-core-reviewers

feat(core): create projects subgraph
  apps/graphql/projects/.env.example
  apps/graphql/projects/.eslintrc.json
  apps/graphql/projects/Dockerfile
  apps/graphql/projects/jest.config.ts
  apps/graphql/projects/project.json
  apps/graphql/projects/src/main.ts
  apps/graphql/projects/src/resolvers/index.ts
  apps/graphql/projects/src/schema.graphql
  apps/graphql/projects/tsconfig.app.json
  apps/graphql/projects/tsconfig.json
  apps/graphql/projects/tsconfig.spec.json
Owners: @moatorres, @codyslexia/nexa-core-reviewers

feat(core): setup graphql gateway
  apps/graphql/gateway/.env.example
  apps/graphql/gateway/.eslintrc.json
  apps/graphql/gateway/Dockerfile
  apps/graphql/gateway/jest.config.ts
  apps/graphql/gateway/project.json
  apps/graphql/gateway/src/config/supergraph.dev.yaml
  apps/graphql/gateway/src/config/supergraph.prod.yaml
  apps/graphql/gateway/src/main.ts
  apps/graphql/gateway/src/supergraph-production.graphql
  apps/graphql/gateway/src/supergraph.graphql
  apps/graphql/gateway/tsconfig.app.json
  apps/graphql/gateway/tsconfig.json
  apps/graphql/gateway/tsconfig.spec.json
Owners: @moatorres, @codyslexia/nexa-core-reviewers

chore(core): move core-node to core-utils and update dependencies
  libs/core/utils/.eslintrc.json
  libs/core/utils/README.md
  libs/core/utils/jest.config.ts
  libs/core/utils/project.json
  libs/core/utils/src/index.ts
  libs/core/utils/src/lib/utils-graphql.ts
  libs/core/utils/src/lib/utils-identifier.spec.ts
  libs/core/utils/src/lib/utils-identifier.ts
  libs/core/utils/tsconfig.json
  libs/core/utils/tsconfig.lib.json
  libs/core/utils/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Owners: @moatorres, @codyslexia/nexa-core-reviewers

CODEOWNERS:

# if not covered below, default to @moatorres
* @moatorres
/e2e/**/* @moatorres
/plugins/**/* @moatorres
/scripts/**/* @moatorres
/tools/**/* @moatorres
/apps/**/* @moatorres @codyslexia/nexa-core-reviewers
/libs/**/* @moatorres @codyslexia/nexa-core-reviewers
package.json @codyslexia/nexa-core-reviewers
pnpm-lock.yaml @codyslexia/nexa-core-reviewers

# docs
/docs @codyslexia/nexa-docs-reviewers

## iac
/iac/* @codyslexia/nexa-iac-reviewers

# scripts
/scripts/* @codyslexia/nexa-pipelines-reviewers @moatorres

# ci
/.circleci/** @codyslexia/nexa-pipelines-reviewers
/.github/** @codyslexia/nexa-pipelines-reviewers
/.husky/** @codyslexia/nexa-pipelines-reviewers

# misc
/CONTRIBUTING.md @moatorres
/CODE_OF_CONDUCT.md @moatorres
/CODEOWNERS @moatorres

# global config files
project.json @moatorres
jest.config.ts @moatorres
jest.preset.js @moatorres
